# string de conexão com o banco de dados, por padrão é o mysql com docker
DATABASE_URL= # mysql://user:password@localhost:3306/db

# secret do next-auth, dê preferência para um uuid
NEXTAUTH_SECRET= # 1234567890

# url do next-auth
NEXTAUTH_URL= # http://localhost:3000

# credenciais do github para autenticação oauth
GITHUB_CLIENT_ID= # your-github-client-id
GITHUB_CLIENT_SECRET= # your-github-client-secret

# credenciais do cloudinary para upload de imagens
CLOUDINARY_CLOUD_NAME= # your-cloudinary-cloud-name
CLOUDINARY_API_KEY= # your-cloudinary-api-key
CLOUDINARY_API_SECRET= # your-cloudinary-api-secret

# opções para o rate-limit
RATE_LIMIT_MAX= # 3000
RATE_LIMIT_INTERVAL= # 3600000 (1 hora)
